*{
	margin: 0;
	padding: 0;
}

ul.dropdown-menu{
	display: inline-block;	
}

ul.dropdown-menu li a{
	text-decoration: none;
	color: #FFF;
	white-space: nowrap;
}

ul.dropdown-menu li{	
	background-color: #393939;
	display: block;	
	padding: 6px 15px;
	float: left;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
}

ul.dropdown-menu > li.list-child,
ul.dropdown-menu > li.list-child:hover{
	background-image: url("../img/arrow-bottom.png");
	background-repeat: no-repeat;
	background-position: right;
}

ul.dropdown-menu ul li.list-child{
	background-image: url("../img/arrow-right.png");
	background-repeat: no-repeat;
	background-position: right;
}

ul.dropdown-menu li ul{		
	display: none;
}

ul.dropdown-menu ul{
	width: 150px;
	white-space: nowrap;
}

ul.dropdown-menu li ul li{
	width: 100%;	
}

ul.dropdown-menu ul ul{
	display: none;
}

ul.dropdown-menu > li > ul{
	top: auto;
	padding-top: 6px;
	margin-left: -15px;
	display: none;
	position: absolute;
}

ul.dropdown-menu li ul li ul{	
	top: 0;
	left: 150px;
	position: absolute;	
	margin-left: 30px;
}

ul.dropdown-menu li:hover{
	background: #0066CC;
}

ul.dropdown-menu > li:hover > ul,
ul.dropdown-menu > li > ul > li:hover > ul,
ul.dropdown-menu > li > ul > li > ul > li:hover > ul,
ul.dropdown-menu > li > ul > li > ul > li > ul > li:hover > ul,
ul.dropdown-menu > li > ul > li > ul > li > ul > li > ul > li:hover > ul,
ul.dropdown-menu > li > ul > li > ul > li > ul > li > ul > li > ul > li:hover > ul{
	display: block;
}


